.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container > div {
    position: fixed;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    filter: blur(20px);
    transform: scale(0.5);
}

.container > div.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    filter: blur(0);
    transform: scale(1);
}

.container > #gameArea {
    opacity: 1;
    z-index: 0;
    transform: scale(1);
    filter: blur(0);
}

.container > div.active ~ #gameArea {
    opacity: 0.75;
    filter: blur(10px);
    transform: scale(0.95);
}

.menu {
    width: 1024px;
    height: 768px;
    position: relative;
    border: 4px solid dimgray;
    background: repeating-linear-gradient(
        0deg,
        var(--black),
        rgba(255, 255, 255, 0.06) 4px
    );
    border-radius: 17px;
    box-shadow: inset 24px 24px 100px rgba(255, 255, 255, 0.12),
        inset -24px -24px 100px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        text-align: left;
        padding: 32px;
        background: repeating-linear-gradient(0deg, #254ad7, #6ac7ec 4px);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 1px 1px 24px rgba(255, 255, 255, 0.26);
    }
}

.default-text {
    color: var(--white);
    margin-top: 0;
    margin-bottom: 1rem;
}
